.section { text-align: center; font: 50px "Microsoft Yahei"; color: #fff;}
p{ 
  font-size: 20px;
  word-break: break-all;
  line-height: 30px; 
}
a { color: #fff;}
.item{
  padding: 0 10px;
  text-align: left;
}
.f14{
  font-size: 14px;
}